# Test Report

| Test | Result |
|----|----|
| Game loads | Pass |
| Manual mode | Pass |
| AI mode | Pass |
| Collision | Pass |
